{% ckan_extends %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ super() }}{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset.read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset.groups', _('Groups'), id=pkg.name) }}
  {{ h.build_nav_icon('relation.relations', _('Relationships'), id=pkg.name) }}

  {% if h.check_ckan_version(max_version='2.10')%}
    {{ h.build_nav_icon('dataset.activity', _('Activity Stream'), id=pkg.name) }}
  {% endif %}


{% endblock %}
