{#
Adds a block of custom form fields.

extras - The fields to add.
errors - A dict of errors for the fields.
limit  - The total number of fields that should be output.
Example:

  {% snippet 'snippets/custom_data_dict_fields.html', extras=data.extras , errors=errors, limit=3 %}

#}
<style>
btn-primary {
  background-color: #206b82;
}

</style>


<div class="form-actions">
    {% block cancel_button %}
   <!--     <button class="btn" name="save" value="go-dataset" type="submit">{{ _('Cancel') }}</button>-->
	 {% link_for _('Cancel'), controller='package', action='read', id=pkg_name, class_='btn btn-danger' %}

      {% endblock %}
	  
 {% block save_button %}
        
		<!--<button style="background-color: #206b82" class="btn btn-primary" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Update Relationship') }}{% endblock %}</button>-->
		{% link_for _('Update Relationship'), controller='package', action='read', id='relationship/'+ pkg_name, class_='btn btn-primary' %}
		
      {% endblock %}
</div>

